/* Estilos Generales */
body {
    font-family: 'Roboto Slab', serif;
    background-color: #f5f5dc;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Modo Oscuro */
  .dark-mode {
    background-color: #222;
    color: #f5f5dc;
  }
  
  /* Navbar */
  .navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Hero Section */
  .hero {
    background: url('../IMG/stardew_banner.jpg') center/cover no-repeat;
    padding: 100px 0;
  }
  
  /* Animaciones */
  .animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Lightbox */
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .lightbox img {
    max-width: 80%;
    max-height: 80%;
    border: 5px solid white;
  }
  
  .close-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  